@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.main-container {
	width: 100vw;
	height: 100vh;
	background: #131313;
	display: flex;
	justify-content: center;
	align-items: center;
}
.editor {
	display: flex;
	flex-direction: column;
}

.line-container {
	display: flex;
	flex-direction: column;
	background: #1e1e1e;
	margin-right: 10px;
}

.line {
	display: flex;
}

.line > input[type='text'] {
	color: #c1c136;
	padding: 5px;
	border: none;
	background: #1e1e1e;
	text-transform: uppercase;
}

.line > input[type='text']:focus {
	outline: none;
}

.line-count-num {
	padding: 5px;
	color: #359471;
}

.register-values {
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 1.5em;
}

.current-line-num {
	padding: 5px;
	color: #58ffc2;
}

.current-line-input {
	background: #303030 !important;
}

.input-error {
	background: red !important;
}

.button-box {
	display: flex;
	flex-direction: column;
}

.button-box > button {
	padding: 5px 0;
	margin: 5px 0;
	cursor: pointer;
}

.focused-line {
	color: #58ffc2;
}
